body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.map-container {
  flex: 1;
  display: flex;
  height: 100vh;
}

@media (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }
}
